<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FiveRingsDb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom mb-4">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home">
                <img src="/favicon-32x32.png" style="height:16px; vertical-align: baseline" alt="FiveRingsDb Icon">
                FiveRingsDb
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        @Html.ActionLink("Cards", "Index", "Cards", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Decks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Builder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Rules</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="bg-light d-print-none">
    <div class="container text-center pt-3">
        <p>
            Work in progress by the <a href="https://discord.gg/fTuEAuu">FiveRingsDB Discord channel</a>.
            API Documentation at <a href="https://fiveringsdb.com/api/">https://fiveringsdb.com/api/</a>.
        </p>
        <p class="small">
            The source material, text and images, presented on this site, is copyrighted by Fantasy Flight Games.<br>
            Legend of the Five Rings is a trademark of Fantasy Flight Games.
        </p>
        <p class="small">
            This website is not produced, endorsed, supported, or affiliated with Fantasy Flight Games.
        </p>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>